@using System.Reflection

<div style="width: 1000px;">
    <div class="bx--row component-demo-module--dropdownRow">
        <BxDropdown LabelText="Theme selector" Size="BxSize.Lg" @bind-SelectedKey="_theme">
            <BxDropdownOption Key="bx--white" Value="White" />
            <BxDropdownOption Key="bx--g10" Value="Gray 10" />
            <BxDropdownOption Key="bx--g90" Value="Gray 90" />
            <BxDropdownOption Key="bx--g100" Value="Gray 100" />
        </BxDropdown>
        <BxDropdown LabelText="Variant selector" Class="component-demo-module--variantDropdown" Size="BxSize.Lg" @bind-SelectedKey="_variant">
            <BxDropdownOption Key="button" Value="Button" />
            <BxDropdownOption Key="buttonWithIcon" Value="Button with icon" />
            <BxDropdownOption Key="iconOnly" Value="Icon only" />
        </BxDropdown>
    </div>
    <div class="bx--row" style="background-color: var(--bx-field);">
        <div class="component-demo-module--container">
            <div class=@($"component-demo-module--preview-container {_theme}")>
                @if (_variant == "button")
                {
                    <BxButton Content="Button" Disabled="disabled" Kind="_kind" Size="_size" />
                }
                else if (_variant == "buttonWithIcon")
                {
                    <BxButton Disabled="disabled" Kind="_kind" Size="_size">
                        Button
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="16" height="16" viewBox="0 0 32 32" class="bx--btn__icon"><path d="M17 15L17 8 15 8 15 15 8 15 8 17 15 17 15 24 17 24 17 17 24 17 24 15z"></path></svg>
                    </BxButton>
                }
                else
                {
                    <BxButton Disabled="disabled" Kind="_kind" Size="_size" HasIconOnly>
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="16" height="16" viewBox="0 0 32 32" class="bx--btn__icon"><path d="M17 15L17 8 15 8 15 15 8 15 8 17 15 17 15 24 17 24 17 17 24 17 24 15z"></path></svg>
                    </BxButton>
                }
            </div>
            @*<div>

            </div>*@
            <form class="bx--form component-demo-module--knob-container">
                <div class="bx--form component-demo-module--knob-title">
                    Button
                </div>
                <div class="component-demo-module--knob-wrapper" @onclick="(() => StateHasChanged())">
                    <fieldset class="bx--fieldset component-demo-module--form-group">
                        <legend class="bx--label">Modifiers</legend>
                        <BxCheckbox @bind-Value="disabled" LabelText="disabled" />
                    </fieldset>
                    <fieldset class="bx--fieldset component-demo-module--form-group">
                        <legend class="bx--label">Kind</legend>
                        <div class="bx--form-item">
                            <fieldset class="bx--radio-button-group bx--radio-button-group--vertical bx--radio-button-group--label-right">
                                <div class="bx--radio-button-wrapper">
                                    <input type="radio" checked="" class="bx--radio-button" value="@BxButtonKind.Primary" @onchange="HandleKind" id="radio-button-3" name="kind">
                                    <label class="bx--radio-button__label" for="radio-button-3"><span class="bx--radio-button__appearance"></span><span class="" dir="auto">Primary</span></label>
                                </div>
                                <div class="bx--radio-button-wrapper">
                                    <input type="radio" class="bx--radio-button" value="@BxButtonKind.Secondary" @onchange="HandleKind" id="radio-button-4" name="kind">
                                    <label class="bx--radio-button__label" for="radio-button-4"><span class="bx--radio-button__appearance"></span><span class="" dir="auto">Secondary</span></label>
                                </div>
                                <div class="bx--radio-button-wrapper">
                                    <input type="radio" class="bx--radio-button" value="@BxButtonKind.Tertiary" @onchange="HandleKind" id="radio-button-5" name="kind">
                                    <label class="bx--radio-button__label" for="radio-button-5"><span class="bx--radio-button__appearance"></span><span class="" dir="auto">Tertiary</span></label>
                                </div>
                                <div class="bx--radio-button-wrapper">
                                    <input type="radio" class="bx--radio-button" value="@BxButtonKind.Danger" @onchange="HandleKind" id="radio-button-6" name="kind">
                                    <label class="bx--radio-button__label" for="radio-button-6"><span class="bx--radio-button__appearance"></span><span class="" dir="auto">Danger</span></label>
                                </div>
                                <div class="bx--radio-button-wrapper">
                                    <input type="radio" class="bx--radio-button" value="@BxButtonKind.Ghost" @onchange="HandleKind" id="radio-button-7" name="kind">
                                    <label class="bx--radio-button__label" for="radio-button-7"><span class="bx--radio-button__appearance"></span><span class="" dir="auto">Ghost</span></label>
                                </div>
                            </fieldset>
                        </div>
                    </fieldset>
                    <fieldset class="bx--fieldset component-demo-module--form-group">
                        <legend class="bx--label">Size</legend>
                        <fieldset class="bx--radio-button-group bx--radio-button-group--vertical bx--radio-button-group--label-right">
                            <div class="bx--radio-button-wrapper">
                                <input type="radio" class="bx--radio-button" value="@BxButtonSize.Sm" @onchange="HandleSize" id="radio-button-8" name="size">
                                <label class="bx--radio-button__label" for="radio-button-8"><span class="bx--radio-button__appearance"></span><span class="" dir="auto">Sm</span></label>
                            </div>
                            <div class="bx--radio-button-wrapper">
                                <input type="radio" checked="" class="bx--radio-button" value="@BxButtonSize.Md" @onchange="HandleSize" id="radio-button-9" name="size">
                                <label class="bx--radio-button__label" for="radio-button-9"><span class="bx--radio-button__appearance"></span><span class="" dir="auto">Md</span></label>
                            </div>
                            <div class="bx--radio-button-wrapper">
                                <input type="radio" class="bx--radio-button" value="@BxButtonSize.Lg" @onchange="HandleSize" id="radio-button-10" name="size">
                                <label class="bx--radio-button__label" for="radio-button-10"><span class="bx--radio-button__appearance"></span><span class="" dir="auto">Lg</span></label>
                            </div>
                            <div class="bx--radio-button-wrapper">
                                <input type="radio" class="bx--radio-button" value="@BxButtonSize.Xl" @onchange="HandleSize" id="radio-button-11" name="size">
                                <label class="bx--radio-button__label" for="radio-button-11"><span class="bx--radio-button__appearance"></span><span class="" dir="auto">Xl</span></label>
                            </div>
                            <div class="bx--radio-button-wrapper">
                                <input type="radio" class="bx--radio-button" value="@BxButtonSize.Xl2" @onchange="HandleSize" id="radio-button-12" name="size">
                                <label class="bx--radio-button__label" for="radio-button-12">
                                    <span class="bx--radio-button__appearance">

                                    </span>
                                    <span class="" dir="auto">2XL</span>
                                </label>
                            </div>
                        </fieldset>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>

<BxInputText @bind-Value="_variant" />
<BxInputText @bind-Value="_variant" />

@code {
    bool disabled;
    BxButtonKind _kind = BxButtonKind.Primary;
    BxButtonSize _size = BxButtonSize.Md;
    string _variant = "button";
    string _theme = "bx--white";

    void HandleKind(ChangeEventArgs e)
    {
        _kind = (BxButtonKind)Enum.Parse(typeof(BxButtonKind), e.Value.ToString());
    }

    void HandleSize(ChangeEventArgs e)
    {
        _size = (BxButtonSize)Enum.Parse(typeof(BxButtonSize), e.Value.ToString());
    }

    void HandleVariant(BxDropdownOption option)
    {
        _variant = option.Key;
    }
}